<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="myemp" class = "com.main.Employee" > 

<property name="name" value = "Ashish"></property>
<property name="email" value = "ashish@gmail.com"></property>
<property name="age" value = "25"></property>

</bean>
    


</beans>